body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.dice {
    background: #fff;
    border: 2px solid #222;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    aspect-ratio: 1;

    /* HÄR KODAR DU UPP DIN GRID */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .2rem;
}

.dice.faded {
    opacity: .2;
}

.dice aside {
    background: #222;
    border-radius: 99rem;
    width: 12px;
    aspect-ratio: 1;
}

.dice aside:nth-child(1) { 
    grid-area: one;
}
.dice aside:nth-child(2) {
    grid-area: two;
}
.dice aside:nth-child(3) {
    grid-area: three;
}
.dice aside:nth-child(4) {
    grid-area: four;
}
.dice aside:nth-child(5) {
    grid-area: five;
}
.dice aside:nth-child(6) {
    grid-area: six;
}

/* TIPS */
/* 
Utgå från nedanstående grid-template-areas. En punkt definerar en tom plats i den grid
'.  . .'
'. . .'
'. . .'

*/

.dice.dots-1 {
    grid-template-areas: 
        '. . .'
        '. one .'
        '. . .'
    ;
}

.dice.dots-2 {
    grid-template-areas: 
        'one  . .'
        '. . .'
        '. . two'
    ;
    
}

.dice.dots-3 {
    grid-template-areas: 
        '. . one'
        '. two .'
        'three . .'
    ;
}

.dice.dots-4 {
    grid-template-areas: 
        'one . two'
        '. . .'
        'three . four'
    ;
    
}

.dice.dots-5 {
    grid-template-areas: 
        'one . two'
        '. five .'
        'three . four'
    ;
    
}

.dice.dots-6 {
    grid-template-areas: 
        'one . two'
        'three . four'
        'five . six'
    ;
    
}